# Python
venv/
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
*.iml
.vs/

# 源码
_src/

# 运行时产物
logs/
debug/
temp/
backup/
config/
appsettings.json

# 系统
Thumbs.db
.DS_Store
.claude/
resource/base/pipeline_snippets.json

# 发布包
*.zip
